.cache
__pycache__/
*.pyc
.venv/
.env
app/shop.db

#Security
#security/

#Doc
docs/

#Scripts
scripts/

#Localstack
localstack/

# Terraform
#terraform/
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
#app_secure/



# Ignorar workflows de GitHub Actions
#.github
#.github/workflows/*

# Permitir únicamente el workflow inicial
!.github/workflows/basic-workflow.yml
!.github/workflows/deploy-insecure.yml
.github/workflows/deploy-secure.yml

# Presentacion
presentacion/
